#content-block
  .profiles-header.header-block
    .left
      %h1 Роли
      .profiles-info.muted-text
        %strong= "Всего ролей:"
        %span= Role.all.length
    .right
      - if current_user.director? || current_user.ceo?
        .material-symbols-outlined.new-role.plus-btn-primary add

  .block-body
    #roles-table= render partial: 'table'
    