.profiles-block{
  width: 500px;
}
.show-profile{
  cursor: pointer;
  margin-left: 10px;
  height: 14px;
}
.profiles-block .user-fullname{
  white-space: nowrap;
}
.profiles-block .profile-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.users-info-block{
  max-height: 300px;
  display: flex;
  gap: 20px;
}

.profiles-header{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.plus-btn-primary{
  padding: 5px;
  background: var(--primary);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  color: var(--white);
  transition: .3s ease;
}
.plus-btn-primary:hover{
  background: var(--hover-primary);
}
.plus-btn-danger{
  padding: 5px;
  background: var(--danger);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  color: var(--white);
  transition: .3s ease;
}
.plus-btn-danger:hover{
  background: var(--hover-danger);
}
.plus-btn-warning{
  padding: 5px;
  background: var(--warning);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  color: var(--white);
  transition: .3s ease;
}
.plus-btn-warning:hover{
  background: var(--hover-warning);
}
.plus-btn-success{
  padding: 5px;
  background: var(--success);
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  color: var(--white);
  transition: .3s ease;
}
.plus-btn-success:hover{
  background: var(--hover-success);
}
.autorization-block h2{
  margin-bottom: 1rem !important;
}
.autorization-block{
  margin-top: 1.5rem;
}
.autorization-block .table-block{
  height: calc(100vh - 165px) !important;
  
}
.autorization-block div{
  box-shadow: var(--box-shadow);
  transition: .3s ease;
}
.autorization-block div:hover{
  box-shadow: none;
}

.profile-photo-preview img{
  border-radius: var(--table-border-radius);
}
.profile-photo-block div,
.profile-photo-block input{
  width: 100% !important;
}
.profile-photo-preview{
  cursor: pointer;
}
.profile-photo-block {
  min-width: 250px;
  max-width: 30%;
}